*{
 font-family: Arial, Helvetica, sans-serif;   
}
body{
    background-image:url("6877677741832.jpg") ; 
    background-size:cover;
    background-attachment: fixed,scroll;
    background-repeat: no-repeat,repeat-y;
}
.filler{
    background-color: beige;
   
}
.whitePage{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.blackHeader{
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.headIMG{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

