body{
    background:beige; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px;

}
#image{
 background-image: url('e:\Github\.git\adriswara.github.io\Exhaustplannewsetup.png') 
}