body{
    background-color: beige;
    background-image: url("nurburgring-wallpaper.jpg");
    background-size:cover;
    background-attachment: fixed,scroll;
    background-repeat: no-repeat,repeat-y; 
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: beige;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.liLink a{
    color: black;
display: inline-block;
list-style-type: none;
}
.liLink{
    list-style-type: none;
}