@font-face{
    font-family: "Bebas";
    src: url("BEBAS.TTF");
}
body{
    background-image: url("typografiMap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed,scroll;
    background-repeat: no-repeat,repeat-y;

}
.header{
    min-height: 600px;
    background-image: url("Chinatown Entry.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.header2{
    background-color:rgba(245, 245, 220, 0.603);
    min-height: 600px;
    
}
.mapPar{
 background-color: rgba(245, 245, 220, 0.76);
}
#imgTravel{
    size:100%;
}
.braga{
    background-image: url("bragaLightTrail2.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.liLink a{
    color: black;
display: inline-block;
list-style-type: none;
}
.liLink{
    list-style-type: none;
}